@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root */
    :root{
        ---blue:#182d5a;
        ---black:#222222;
        ---white:#ffffff;
        ---orange:#ff6c01;
        ---yellow:#ff9801;
        ---lightgray:#ededed;
    }
/* Root */

/* Body */
*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
    background-image: url(img/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    padding: 10px 150px;
}
/* Body */

/* All Data Code */

/* Header */
.header{
    background-color: transparent;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .navbar a{
    font-size: 16px;
    color: var(---blue);
    font-weight: 500;
    padding: 38px 15px;
}
.header .container .navbar.active{
    right: 0rem;
    transition: 0s linear;
}
.header .container .navbar a:hover{
    border-bottom: 3px solid var(---orange);
    border-top: 3px solid var(---yellow);
    color: var(---orange);
    font-weight: 700;
}
.header .container .right-data{
    display: flex;
    align-items: center;
}
.header .container .right-data .header-two-icon{
    margin-right: 20px;
}
.header .container .right-data .header-two-icon i{
    font-size: 16px;
    background-color: var(---white);
    padding: 15px 18px;
    cursor: pointer;
    color: var(---blue);
    border-radius: 10px;
}
.header .container .right-data .header-two-icon #search{
    margin-right: 10px;
}
.header .container .right-data .header-two-icon #menu-btn{
    margin-right: 10px;
    display: none;
}
.header .container .right-data .header-two-icon i:hover{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    color: var(---white);
}
.header .container .right-data button{
    width: 150px;
    height: 60px;
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    color: var(---white);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
}
.header .container .right-data button:hover{
    box-shadow: 0px 15px 30px #ff6b01be;
}
.header .searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 110%;
    width: 100%;
    padding: 0px 150px;
}
.header .searchbar .input{
    background-color: var(---white);
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(---blue);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.089);
}
.header .searchbar .input input{
    background-color: var(---white);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 16px;
}
.header .searchbar .input input ::placeholder{
    font-size: 16px;
}
.header .searchbar .input #search-btn{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(---blue);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.header .searchbar .input #search-btn:hover{
   color: var(---orange);
}
.header .searchbar.active{
    right: 0%;
    transition: 0s linear;
}
/* Header */

/* Hero Area */
.hero-area{
    background-color: transparent;
}
.hero-area .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-area .container .hero-text{
    background-color: transparent;
}
.hero-area .container .hero-text h1{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    line-height: 80px;
}
.hero-area .container .hero-text p{
    font-size: 16px;
    color: var(---blue);
    font-weight: 500;
    line-height: 40px;
    margin: 30px 0px;
}
.hero-area .container .hero-text .searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-area .container .hero-text .searchbar .input{
    background-color: var(---white);
    width: 500px;
    display: flex;
    align-items: center;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.103);
}
.hero-area .container .hero-text .searchbar .input input{
    background-color: var(---white);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 16px;
}
.hero-area .container .hero-text .searchbar .input input ::placeholder{
    font-size: 16px;
}
.hero-area .container .hero-text .searchbar .input #search-btn{
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(---white);
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    background-color: var(---blue);
}
.hero-area .container .hero-text .searchbar .input #search-btn:hover{
   background: linear-gradient(90deg , var(---orange) , var(---yellow));
}
/* Hero Area */

/* logo */
.our-logo{
    background-color:transparent;
    margin-top: 100px;
}
.our-logo .slider-container{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo */

/* Pages */
.page{
    background-color: transparent;
    margin-top: 100px;
}
.page .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page .container .page-text h3{
    font-size: 40px;
    font-weight: 700;
    color: var(---blue);
}
.page .container .page-text h1{
    font-size: 60px;
    font-weight: 700;
    color: var(---blue);
    line-height: 80px;
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page .container .page-text p{
    font-size: 20px;
    color: var(---blue);
    font-weight: 500;
    line-height: 40px;
    margin: 30px 0px;
}
.page .container .page-text .two-button button{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    width: 180px;
    height: 70px;
    border-radius: 10px;
    color: var(---white);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}  
.page .container .page-text .two-button .btn{
    font-size: 16px;
    color: var(---blue);
    font-weight: 500;
    margin-left: 20px;
}      
.page .container .page-text .two-button button:hover{
    box-shadow: 0px 15px 30px #ff6b01be;
}  
/* Pages */

/* offer */
.offer{
    margin-top: 100px;
}
.offer .heading{
    text-align: center;
}
.offer .heading h3{
    font-size: 40px;
    color: var(---blue);
    font-weight: 700;
}
.offer .heading h1{
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.offer .slider-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.offer .slider-box .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(---white);
    width: 450px;
    height: 330px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    cursor: pointer;
}
.offer .slider-box .slider:hover{
    transform: scale(1.1,1.1);
    transition: 1s ;
}
.offer .slider-box .box .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.offer .slider-box .box .icon i{
    font-size: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(---lightgray);
    border-radius: 100px;
    color: var(---blue);
}
.offer .slider-box .box .text h1{
    font-size: 25px;
    color: var(---blue);
    font-weight: 700;
}
.offer .slider-box .box p{
    font-size: 12px;
    color: var(---black);
    font-weight: 500;
    line-height: 30px;
    margin: 10px 0px;
}
.offer .slider-box .box .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer .slider-box .box .button a{
    font-size: 20px;
    color: var(---blue);
    font-weight: 600;
}
.offer .slider-box .box .button a:hover{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* offer */

/* experience */
.experience{
    margin-top: 100px;
}
.experience .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.experience .container .left-data h3{
    font-size: 30px;
    font-weight: 700;
    color: var(---blue);
}
.experience .container .left-data h1{
    font-size: 55px;
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 65px;
    font-weight: 700;
    margin-top: 30px;
}
.experience .container .left-data p{
    font-size: 20px;
    font-weight: 500;
    color: var(---black);
    line-height: 40px;
    margin-top: 30px;
}
.experience .container .left-data .one h5{
    font-size: 20px;
    font-weight: 500;
    color: var(---blue);
}
.experience .container .left-data .button{
    margin-top: 40px;
}
.experience .container .left-data .button button{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    width: 180px;
    height: 70px;
    border-radius: 10px;
    color: var(---white);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}  
.experience .container .left-data .button .btn{
    font-size: 16px;
    color: var(---blue);
    font-weight: 500;
    margin-left: 20px;
}      
.experience .container .left-data .button button:hover{
    box-shadow: 0px 15px 30px #ff6b01be;
} 
.experience .container .left-data .all-line{
    margin-top: 30px;
}
.experience .container .left-data .one{
    margin: 20px 0px;
}
.experience .container .left-data .one .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.experience .container .left-data .one .line{
    background-color: var(---lightgray);
    border-radius: 100px;
    width: 550px;
    height: 10px;
    position: relative;
}
.experience .container .left-data .one .startline{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading 7s linear infinite;
    width: 0;
    height: 100%;
}

.experience .container .left-data .one .line2{
    background-color: var(---lightgray);
    border-radius: 100px;
    width: 550px;
    height: 10px;
    position: relative;
}
.experience .container .left-data .one .startline2{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: startline2 10s linear infinite;
    width: 0;
    height: 100%;
}
.experience .container .left-data .one .line3{
    background-color: var(---lightgray);
    border-radius: 100px;
    width: 550px;
    height: 10px;
    position: relative;
}
.experience .container .left-data .one .startline3{
    background: linear-gradient(90deg , var(---orange) , var(---yellow));
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: startline3 10s linear infinite;
    width: 0;
    height: 100%;
}
@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}
@keyframes startline2 {
    0% { width: 0; }
    75% { width: 75%; }
}
@keyframes startline3 {
    0% { width: 0; }
    50% { width: 50%; }
}
/* experience */

/* contact Us */
.contact{
    margin-top: 100px;
}
.contact .container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,var(---orange),var(---yellow));
    height: 370px;
    border-radius: 20px;
}
.contact .container .all-data{
    text-align: center;
}
.contact .container .all-data h1{
    font-size: 60px;
    font-weight: 700;
    color: var(---white);
}
.contact .container .all-data p{
    font-size: 16px;
    font-weight: 500;
    color: var(---white);
}
.contact .container .all-data .search-bar{
    background-color: var(---white);
    width: 500px;
    height: 100px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.contact .container .all-data .search-bar input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 20px;
}
.contact .container .all-data .search-bar i{
    width: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    color: var(---blue);
}
/* contact Us */

/* footer */
.footer{
    background-color: var(---black);
    margin-top: 100px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.footer .container .logo{
    text-align: center;
}
.footer .container .logo img{
    margin: 10px 10px;
    cursor: pointer;
}
.footer .container .link nav{
    margin-top: 10px;
}
.footer .container .link h1{
    font-size: 30px;
    color: var(---white);
    font-size: 700;
}
.footer .container .link nav a{
    display: block;
    font-size: 16px;
    line-height: 40px;
    color: var(---white);
}
.footer .container .link p{
    font-size: 16px;
    color: var(---white);
    line-height: 30px;
    margin: 10px 0px;
}
.footer .container .link .search-bar{
    background-color: var(---white);
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
.footer .container .link .search-bar input{
    background-color: var(---white);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
}
.footer .container .link .search-bar i{
    margin-right: 10px;
}
.footer .container .link nav h5{
    font-size: 20px;
    color: var(---white);
}
.footer .last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(---lightgray);
    padding: 10px 0px;
}
.footer .last a{
    font-size: 16px;
    color: var(---white);
    padding: 0px 5px;
}
.footer .last p{
    font-size: 16px;
    color: var(---white);
}
/* footer */
/* All Data Code */
































/* media quries */


@media (max-width:1680px) {
    .experience .container .right-image{
        width: 700px;
    }
    .experience .container .right-image img{
        width: 100%;
    }

}

@media (max-width:1536px) {
    section{
        padding: 10px 70px;
    }
    .hero .container .hero-image{
        width: 700px;
    }
    .hero .container .hero-image img{
        width: 100%;
    }
    .our-logo .container img{
        width: 250px;
    }
    .page .container .page-image{
        width: 520px;    }
    .page .container .page-image img{
        width: 100%;
    }
    .offer .slider-box .slider{
        width: 380px;
        height: 330px;
    }
    .experience .container .right-image{
        width: 650px;
    }
    .experience .container .right-image img{
        width: 100%;
        height: 100%;
    }

}

@media (max-width:1280px) {
    section{
        padding: 10px 50px;
    }
    .header .container .navbar{
        background-color: var(---white);
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        top: 15%;
        width: 100%;
        right: 100%;
        padding-left: 50px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
        
    }
    .header .container nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header .container .navbar a{
        display: block;
        line-height: 50px;
        padding: 20px;  
    }
    .header .container .navbar a:hover{
        background-color: var(---lightgray);
    }
    .header .container .navbar a:hover{
        border-right: 3px solid var(---yellow);
        border-bottom: none;
        border-top: none;
        color: var(---orange);
        font-weight: 700;
    }
    .header .container .right-data .header-two-icon #menu-btn{
        display: initial;
    }
    .hero-area .container{
        display: block;
    }
    .hero-area .container .hero-text{
        text-align: center;
    }
    .hero-area .container .hero-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .our-logo{
        margin-top: 50px;
    }
    .our-logo .slider-container{
        display: block;
    }
    .our-logo .slider-container .slide{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }
    .page{
        margin-top: 50px;
    }
    .page .container{
        display: block;
    }
    .page .container .page-text{
        text-align: center;
    }
    .page .container .page-image{
       margin: 0px auto;
    }
    .offer .slider-box{
        display: block;
    }
    .offer .slider-box .slider{
        margin: 20px auto;
    }
    .offer{
        margin-top: 50px;
    }
    .offer .heading h3{
        font-size: 20px;
    }
    .experience{
        margin-top: 50px;
    }
    .experience .container{
        display: block;
    }
    .experience .container .right-image{
        margin: 0px auto;
    }
    .experience .container .left-data{
        text-align: center;
    }
    .experience .container .left-data .all-line .one .line{
        margin: 0px auto;
    }
    .experience .container .left-data .all-line .one .line2{
        margin: 0px auto;
    }
    .experience .container .left-data .all-line .one .line3{
        margin: 0px auto;
    }
    .contact{
        margin-top: 50px;
    }
    .footer{
        margin-top: 50px;
    }
    .footer .container{
        display: block;
        text-align: center;
    }
    .footer .container .link .search-bar{
        margin: 10px auto;
    }
    .footer .last{
        display: block;
        padding: 10px 0px;
        text-align: center;
    }
    .footer .last .link{
        padding: 5px 0px;
    }
}

@media (max-width:1080px) {
    section{
        padding: 10px 25px;
    }
    .header .searchbar{
        padding: 0px 25px;
    }
    .header .container .navbar{
        padding-left: 25px;
    }
}

@media (max-width:768px) {
    section{
        padding: 10px 16px;
    }
    .header .container .navbar{
        padding-left: 16px;
    }
    .header .searchbar{
        padding: 0px 16px;
    }
    .hero-area .container .hero-image{
        width: 100%;
    }
    .hero-area .container .hero-image img{
        width: 100%;
    }
    .page .container .page-text h3{
        font-size: 20px;
    }
    .page .container .page-text h1{
        font-size: 50px;
        line-height: 60px;
    }
    .page .container .page-text p{
        font-size: 14px;
        margin: 15px;
    }
    .contact .container .all-data h1{
        font-size: 50px;
    }
}

@media (max-width:640px) {
    section{
        padding: 10px 10px;
    }
    .header .container .right-data button{
        display: none;
    }
    .header .container .right-data .header-two-icon i{
        font-size: 14px;
        background-color: var(---white);
        padding: 12px 12px;
    }
    .header .container .navbar{
        padding-left: 5px;
    }
    .header .searchbar{
        padding: 0px 5px;
    }
    .hero-area .container .hero-text h1{
        font-size: 60px;
    }
    .hero-area .container .hero-text p{
        margin: 15px 0px;
        font-size: 14px;
        line-height: 40px;
    }
    .hero-area .container .hero-text .searchbar .input{
        background-color: var(---white);
        width: 90%;
    }
    .hero-area .container .hero-text .searchbar .input input{
        background-color: var(---white);
        width: 100%;
    }
    .page .container .page-text h1{
        font-size: 50px;
    }
    .page .container .page-image{
        width: 90%;
    }
    .page .container .page-image img{
        width: 100%;
    }
    .experience .container .left-data .one .line{
        background-color: var(---lightgray);
        border-radius: 100px;
        width: 90%;
        height: 10px;
        position: relative;
    }
    .experience .container .left-data .one .line2{
        background-color: var(---lightgray);
        border-radius: 100px;
        width: 90%;
        height: 10px;
        position: relative;
    }
    .experience .container .left-data .one .line3{
        background-color: var(---lightgray);
        border-radius: 100px;
        width: 90%;
        height: 10px;
        position: relative;
    }
    .experience .container .right-image{
        width: 100%;
        margin-top: 30px;
    }
    .experience .container .right-image img{
        width: 100%;
    }
    .contact .container .all-data h1{
        font-size: 40px;
        line-height: 50px;
    }
    .contact .container .all-data p{
        font-size: 14px;
        line-height: 40px;
        margin: 15px 0px;
    }
    .contact .container .all-data .search-bar{
        width: 90%;
    }
    .contact .container .all-data .search-bar input{
        width: 90%;
    }
}

@media (max-width:400px) {
    .header .container .logo{
        width: 150px;
    }
    .header .container .logo img{
        width: 100%;
    }
    .header .container .navbar{
        padding-left: 2px;
    }
    .header .container .right-data .header-two-icon{
        margin-right: 2px;
    }
    .hero-area .container .hero-text h1{
        font-size: 40px;
        line-height: 50px;
    }
    .hero-area .container .hero-text .searchbar .input #search-btn{
        width: 100px;
        height: 60px;
    }
    .header .searchbar{
        padding: 0px 2px;
    }
    .page .container .page-text h1{
        font-size: 40px;
        line-height: 50px;
    }
    .page .container .page-text .two-button .btn{
        display: none;
    }
    .offer .slider-box .slider{
        width: 95%;
        height: 380px;
    }
    .offer .heading h1{
        line-height: 50px;
        font-size: 40px;
    }
    .offer .slider-box .box p{
        font-size: 10px;
    }
    .offer .slider-box{
        margin-top: 30px;
    }
    .experience .container .left-data h1{
        font-size: 40px;
        margin-top: 10px;
        line-height: 50px;
    }
    .experience .container .left-data h3{
        font-size: 20px;
    }
    .experience .container .left-data p{
        margin-top: 15px;
        font-size: 12px;
    }
    .experience .container .left-data .button a{
        display: none;
    }
    .contact .container{
        height: 440px;
    }
}
/* media quries */
